
@{
    ViewBag.Title = "Basic";
}

<h2>Ejémplo básico de knockoutjs</h2>

<h2>
    Hola <span data-bind="text: name"></span>
</h2>

@section Scripts{
    <script>
        //function ViewModel() {
        //    this.name = "Arturo Ferreiro";
        //};

        var viewModel = {
            name: 'Arturo Ferreiro'
        };

        //var viewModel = new ViewModel();
        ko.applyBindings(viewModel);
    </script>
}